.AnchorPane{
    -fx-background-image: url("../../images/backgrounds/setupBackground.PNG");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.Image{
    -fx-min-width: 60;
    -fx-min-height: 60;
    -fx-background-color: transparent;
}

.Button{
    -fx-pref-width: 234;
    -fx-pref-height: 350;
    -fx-background-radius: 25;   /* esquina redondeada */
    -fx-border-radius: 25;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

.Button:hover{
    -fx-effect: dropshadow(gaussian, #7676f8, 50, 0.9, 0, 0);
}


.Button.local{
    -fx-background-image: url("../../images/assets/SetupScene/local.png");
}

.Button.online{
    -fx-background-image: url("../../images/assets/SetupScene/online.png");
}


.label{
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-size: 22;
    -fx-effect: dropshadow(gaussian, black, 3, 0.5, 1, 1);
}

.subtitleLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-size: 40;
    -fx-translate-y: -60; /* Lo mueve hacia arriba del botón */
    -fx-effect: dropshadow(gaussian, black, 3, 0.5, 1, 1);
    -fx-opacity: 0;
}

.VBoxOne{
    -fx-rotate: -3;
}


.VBoxTwo{
    -fx-rotate: 3;
}


.dialog-box {
    -fx-background-color: linear-gradient(#002aff, #8596df);
    -fx-padding: 30;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, black, 15, 0.3, 0, 0);
    -fx-max-width: 130;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.dialog-title {
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dialog-description {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.dialog-button{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-padding: 8 20;
}

.dialog-button:hover{
    -fx-background-color: yellow;
    -fx-effect: dropshadow(gaussian, gold, 10, 0.5, 0, 0);
}

.continue-dialog{
    -fx-background-color: linear-gradient(#63F872, #09C81C);
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, black, 15, 0.3, 0, 0);
}

.user-Button{
    -fx-pref-width: 110;
    -fx-pref-height: 110;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, black, 10, 0.3, 0, 0);
    -fx-background-image: url("../../images/assets/SetupScene/profileIcon.png");
}

.user-textField{
    -fx-effect: dropshadow(gaussian, black, 10, 0.3, 0, 0);

}