.AnchorPane{
    -fx-background-image: url("../../images/backgrounds/setupBackground.png");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}