.AnchorPane{
    -fx-background-image: url("../../images/backgrounds/gameBackground.png");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.card-button {
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, gray, 3, 0.3, 2, 2);
}

.card-button:hover{
    -fx-effect: dropshadow(gaussian, #9a9a9a, 10, 0.9, 0, 0);
}

.robber-button{
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/assets/GameScene/robberDeck.png");
    -fx-pref-height: 231;
    -fx-pref-width: 300;
}

.uno-button{
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/assets/GameScene/unoButton.png");
    -fx-pref-height: 250;
    -fx-pref-width: 250;
}

.back-button{
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/assets/GameScene/backImage.png");
}

.ia-image{
    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-background-image: url("../../images/assets/ProfileScene/image.png");
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-size: 20;
    -fx-effect: dropshadow(gaussian, black, 3, 0.5, 1, 1);
}

.game-over-dialog {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-border-color: #222;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 20, 0.3, 4, 4);
}

.game-over-label {
    -fx-font-size: 26px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.accept-button {
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #388E3C);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-padding: 10 20 10 20;
}

.accept-button:hover {
    -fx-background-color: linear-gradient(to bottom, #66BB6A, #43A047);
}
