.anchorPane{
    -fx-background-image: url("../../images/backgrounds/homeBackground.png");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-size: 30;
    -fx-effect: dropshadow(gaussian, black, 3, 0.5, 1, 1);
}